---
import { Image } from 'astro:assets';
import { formatDate } from '../utils/date';

interface Props {
  post: {
    data: {
      title: string;
      imagen: string;
      fecha: string;
      topic: string;
    };
    slug: string;
  };
}

const { post } = Astro.props;

const formatedDate = formatDate(post.data.fecha);
---

<a
  href={`/posts/${post.slug}`}
  class="flex flex-col gap-y-4 justify-start w-full group overflow-hidden"
>
  <div class="w-full aspect-video overflow-hidden rounded">
    <Image
      src={post.data.imagen}
      alt={post.data.title}
      width={200}
      height={100}
      class="w-full object-cover aspect-video group-hover:scale-[1.025] transition-transform duration-300 ease-in rounded overflow-hidden"
    />
  </div>
  <div class="flex flex-col gap-y-2 w-full justify-center">
    <p class="text-sm w-max uppercase text-gold-700 pl-1">
      {post.data.topic}
    </p>
    <div class="group flex flex-col gap-y-2">
      <p
        class:list={[
          'font-bold text-2xl leading-tight group-hover:underline text-pearl-900'
        ]}
      >
        {post.data.title}
      </p>
      <p class="text-sm text-pearl-700">{formatedDate}</p>
    </div>
  </div>
</a>
