---
import BaseLayout from './BaseLayout.astro';
import PostDate from '../components/PostDate.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="max-w-[70ch] mx-auto pt-24 mb-16">
    <article class="flex flex-col gap-y-6 mb-6">
      <!-- <img src={frontmatter.image.url} alt="" class="h-64 object-cover" /> -->
      <div class="flex flex-col gap-y-4">
        <h1 class="font-dm-serif text-[72px] leading-none">
          {frontmatter.title}
        </h1>
        <PostDate date={frontmatter.releaseDate} />
      </div>
      <ul class="flex gap-x-2 p-0">
        {
          frontmatter.tags.map((tag) => (
            <li class="list-none">
              <a
                class="bg-secondary/25 rounded px-3 py-1 hover:scale-105 transition-transform duration-150 ease-in-out no-underline flex items-center text-black"
                href={`/tag/${tag}`}
              >
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </article>
    <article
      class="prose lg:prose-lg max-w-none prose-headings:font-dm-serif prose-img:max-w-md prose-img:mx-auto prose-img:w-full"
    >
      <slot />
    </article>
  </section>
</BaseLayout>
